<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
</head>
<body>
    <h1>Dear user: {{ email }},</h1>
    <p>Your hash for verify your account is: {{ hash }}</p>
    <p><a href="{{ frontend_url }}/auth/verify-email?email={{ email }}&hash={{ hash }}">Verify Account</a></p>
</body>
</html>