<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    <h1>Dear user: {{ email }},</h1>
    <p>Your hash for update your password is: {{ hash }}</p>
    <a href="{{ frontend_url }}/auth/change-password?email={{ email }}&hash={{ hash }}">Update Password</a>
</body>
</html>